---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us page" description="Aquí viene la descripción">
    <main class="h-[calc(100vh-60px)]">
        <Container>
            <h1 class="md:text-5xl text-3xl text-gray-800">
                Juventud y experiencia, la combinación para un servicio de
                excelencia
            </h1>
            <p>
                Nuestra misión es brindar “excelencia” tanto en los productos como en el servicio que ofrecemos, para seguir creciendo día a día y ser líderes en el mercado.
            </p>
        </Container>
    </main>
</Layout>
