---
import Card from "./Card.astro";
import Container from "./Container.astro";

interface Props {
    listTitle: string;
}
const { listTitle } = Astro.props;
---

<section
    class="py-4 h-auto flex flex-col justify-center gap-4"
>
    <Container>
        <h2 class="text-3xl font-bold">{listTitle}</h2>
    </Container>
    <div
        class="max-w-[1200px] self-center flex items-center justify-center flex-wrap gap-4"
    >
        <Card />
    </div>
</section>
