---
import { Image } from "astro:assets";
import MainImage from "../assets/bobinaInox.png";
import Button from "./Button.astro";
---

<main
    class="flex items-center justify-center flex-col md:flex-row gap-7 md:gap-14 w-full h-[calc(100vh-60px)]"
>
    <div class="flex  justify-center flex-col gap-5 md:gap-10 md:flex-1">
        <h1 class="md:text-5xl text-3xl text-gray-800">
            Importadora y distribuidara de <span
                class="uppercase font-bold text-blue-950">acero inoxidable</span
            >
        </h1>
        <p class="text-lg text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere
            eligendi dolor minus magnam quaerat placeat optio, ad nostrum
            ratione et perspiciatis nihil iusto aliquid harum eum vero! Aperiam,
            numquam.
        </p>
        <Button buttonTitle="Comúnicate con Nosotros" />
    </div>
    <div class="flex items-center justify-center md:flex-1 max-w-[200px] md:max-w-none">
        <Image src={MainImage} alt="Stainless steel coil image." class="drop-shadow-[0_25px_25px_rgba(23,37,84,0.5)] mx-0 w-full"/>
    </div>
</main>
