---
import Header from "../components/Header.astro";
import "@fontsource/lato";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kacero - {title}</title>
		<meta name="description" content={description} />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
	<script
		src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
		crossorigin=""></script>
</html>
<script
	type="module"
	src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
	nomodule
	src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<style is:global>
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	body {
		font-family: "lato", sans-serif;
	}

	.btn {
		@apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
	}

	.hoverGray {
		@apply hover:text-gray-400 duration-200;
	}
</style>
